<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://picsum.photos/id/0/400/200"
      cardTitle="Novo MacBook anunciado"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nostrum laudantium doloribus veritatis. Assumenda consequatur iste, quis dolor repudiandae mollitia."
      ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
        photoCover="https://picsum.photos/id/10/150"
        cardDate="Fevereiro, 25, 2022"
        cardDescription="Id atque sint aspernatur dolorem, omnis inventore quo vero consectetur adipisicing elit."
      ></app-small-card>
    <app-small-card
      photoCover="https://picsum.photos/id/20/150"
      cardDate="Março, 12, 2022"
      cardDescription="Aliquam, necessitatibus ex blanditiis quos soluta laudantium ipsa, officia fugiat, maxime at. "
    ></app-small-card>
    <app-small-card
      photoCover="https://picsum.photos/id/30/150"
      cardDate="Outubro, 01, 2022"
      cardDescription="Nesciunt ipsa sequi odio quia consequatur, mollitia necessitatibus."
    ></app-small-card>
  </div>
</div>
